<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">手工测试</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/">主页</router-link>
                    </li>
                    <li class="breadcrumb-item active">手工测试</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <el-card class="box-card">
        <template #header>
            <el-select v-model="value" filterable placeholder="请选择项目">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                />
            </el-select>
            <el-select v-model="value" filterable placeholder="请选择环境" style="margin-left: 10px">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                />
            </el-select>
            <el-select v-model="value" filterable placeholder="请选择模块" style="margin-left: 10px">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                />
            </el-select>
            <el-select v-model="value" filterable placeholder="请选择接口" style="margin-left: 10px">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                />
            </el-select>
        </template>
        <div v-for="o in 4" :key="o" class="text item">{{ 'List item ' + o }}</div>
    </el-card>
</section>